@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background: #eee;
}

.newspaper-container {
    background: rgb(255, 255, 255);
    margin: 100px auto;
    border-radius: 20px;
    padding: 25px;
    width: 700px;
    height: 1050px;
    box-shadow: 2px 2px 5px #ddd;

}
.newspaper-container h1{
    font-family: Abril Fatface;
    text-align: center;
    font-size: 30pt;

}
.newspaper-container nav li a{
    text-decoration: none;
    padding: 4px 2px;
    font-size: 12px;
    color: #777;
    
}
nav ul {

    list-style: none;
    padding: 1em;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    color: #eee;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    

}
main h2 {
    font-family:  Roboto Slab;
    font-size: 20pt;

}
main h5{
    font-family:  Roboto Slab;
    font-size: 10pt;
    color: red;
}

main p {
    font-family: Source Sans Pro;
}
img {
    width: 100%;
}       


.date {
    font-family:  Source Sans Pro;
}
.more-articles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee; 

}
section {
    display: inline-block;
    width: 325px;
    
}
.more-articles h4 {
    font-size: 13pt;
    font-weight:800;
    font-family: Roboto Slab;
}


.more-articles p {
    font-family: Source Sans Pro;
    text-align: auto;
  

}